@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<object>

@{
  Layout = "_Layout.cshtml";
}   

        
<h3>I'm bussing</h3>

<div>&nbsp;</div>
<div><button class="btn btn-info" data-bind="click: findNearbyStops">Nearby stops</button></div>

<div>&nbsp;</div>

<!-- ko if: markers().length > 0 -->
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Buses</th>
            <th>Towards</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: markers">
        <tr>
            <td data-bind="text: name"></td>
            <td data-bind="text: routesString"></td>
            <td data-bind="text: towards"></td>
        </tr>
    </tbody>
</table>
<!-- /ko -->

<script type="text/javascript">
    var BusModel = function() {
        var self = this;

        self.location = {
            latitude: 0.0,
            longitude: 0.0
        };

        self.markers = ko.observableArray();

        self.findNearbyStops = function() {
            navigator.geolocation.getCurrentPosition(function (location) {
                var latitude = location.coords.latitude;
                var longitude = location.coords.longitude;

                $.get('/api/bustops/latitude/' + latitude + '/longitude/' + longitude, function(result) {
                    console.log(result.markers);
                    self.markers(result.markers);
                });

            });
        };

    };

    $(function () {
        var viewModel = new BusModel();
        ko.applyBindings(viewModel);
    });
    
    
</script>