@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<object>

@{
  Layout = "_Layout.cshtml";
}   

        
<h3>I'm bussing</h3>
<form role="form" method="POST" action="/index" class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="bustopcode"></label>
        <input class="form-control" type="text" name="bustopcode" id="bustopcode" data-bind="value: stopCode"
               placeholder="bustop code" style="width: 200px;" />
    </div>
    <button class="btn btn-primary" type="submit" data-bind="click: find">Find bus times</button>
</form>

<div>&nbsp;</div>

<!-- ko if: arrivals().length > 0 -->
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>No.</th>
            <th>Destination</th>
            <th>Time to wait</th>
            <th>Scheduled time</th>

        </tr>
    </thead>
    <tbody data-bind="foreach: arrivals">
        <tr>
            <td data-bind="text: routeName"></td>
            <td data-bind="text: destination"></td>
            <td data-bind="text: estimatedWait"></td>
            <td data-bind="text: scheduledTime"></td>
        </tr>
    </tbody>
</table>
<!-- /ko -->

<script type="text/javascript">
    var BusModel = function() {
        var self = this;

        self.stopCode = ko.observable('');
        self.arrivals = ko.observableArray();
        self.find = function() {
            $.get('/api/bustops/' + self.stopCode() + '/', function(result) {
                self.arrivals(result.arrivals);
            });
        };
    };

    $(function () {
        var viewModel = new BusModel();
        ko.applyBindings(viewModel);
    });
    
    
</script>